<html>

<body>
    <form action="/maintainer/eval" method="post">
        <label for="expression">Code:</label><br>
        <input type="text" id="expression" name="expression" value=""><br>
        <input type="submit" value="Evaluate">
    </form>
</body>

</html>